<html>
    <center>
        <head>
            <title>Horizontal Menu bar</title>
            </head>
          
            <body>
                <br><br>
    
                <h1 >WEB BASED ONLINE BLOOD DONATION SYSTEM</h1>
            
            <!-- div align in center -->
            <div id="menubar">
            <ul><li>Register as Donor</li>
              <li>Request Blood</li>
              <li>Check near by camps </li>
              <li>Contact us</li>
              <li>Emergency</li>
            </ul>
            </div>
            <br><br>
            <img src="https://th.bing.com/th/id/OIP.bs2Dz-V5lGCU31iv_wMqcAHaCQ?w=336&h=106&c=7&r=0&o=5&dpr=1.25&pid=1.7" width="800" height="300">
              
            </body>
    </center>
</html>
