<html>
    <br><br>
    <center>
        <h3> YOU CAN SORT THE DATA BY GIVING THE PARAMETERS </h3><br><br>
        Sort by area: <input type="textbox" placeholder="PINCODE"required>
        <br><br>
        Sort by Blood Group :
        <input type="text" name="city" list="cityname">
        <datalist id="cityname">
            <option value="O+"><option value="A+"><option value="B+">
            <option value="AB+"><option value="O-"><option value="A-"><option value="B-"><option value="AB-">
        </datalist>
        <br><br>
        <button class="button"> SORT </button>
        <table></table>
    </center>
</html>