<html>
    <br><br><br>
    <center>
        <h2>TO REGISTER YOURSELF AS DONOR GIVE THE FOLLOWING DETAILS</h2>
        <br><br>
        <html>
    <center>
        Your Given Name : <input type="textbox" placeholder="FIRSTNAME" required>
        <input type="textbox" placeholder="LASTNAME" required>
        <br><br>
        Address : 
        <input type="textbox" placeholder="line:1">
        <input type="textbox" placeholder="City">
        <input type="textbox" placeholder="State">
        <input type="textbox" placeholder="PINCODE"required>
        <br><br>
        Blood Group :
        <input type="text" name="city" list="cityname">
        <datalist id="cityname">
            <option value="O+"><option value="A+"><option value="B+">
            <option value="AB+"><option value="O-"><option value="A-"><option value="B-"><option value="AB-">
    
            </datalist>
        <br><br>
        Your Email ID : <input type="textbox" placeholder="EMAIL">
        <br><br>
        <label for="Bday"> Date of Birth </label>
        <input type="date" id="Bday" name"Bday"> 
        <br><br>
        <button class="button">Donate</button>
    </center></center>
</html>