<html>
    <center>
        <br><br>
        <h2>TO REQUEST BLOOD PLEASE PROVIDE THE FOLLOWING DETAILS</h2>
        <br><br>
        Enter age of the patient : <input type="textbox" type="number" placeholder="age">
        <br><br>
        Deadline : <input type="date"> 
        <br><br>
        Pincode:         <input type="textbox" placeholder="PINCODE"required>
        <br><br>
        Blood Group Required : 
        <input type="text" name="city" list="cityname">
        <datalist id="cityname">
            <option value="O+"><option value="A+"><option value="B+">
            <option value="AB+"><option value="O-"><option value="A-"><option value="B-"><option value="AB-">
        </datalist>
        <br><br>
        <button class="button">Donate</button>
    </center>
</html>