<html>
    <center>
        <br><br>
        <h3> PLEASE PROVIDE THE AREA AND BLOOD GROUP TO SEND REQUEST FOR DONORS </h3><br><br>
        Send request in area: <input type="textbox" placeholder="PINCODE"required>
        <br><br>
        Send request for Blood Group :
        <input type="text" name="city" list="cityname">
        <datalist id="cityname">
            <option value="O+"><option value="A+"><option value="B+">
            <option value="AB+"><option value="O-"><option value="A-"><option value="B-"><option value="AB-">
        </datalist>
        <br><br>
        <button class="button"> SEND </button>
    </center>
</html>